/* Default link styling */
a, a:link,  a:active, a:visited {
   color: #8C1D01;
   text-decoration:none;
}

a:hover {
  text-decoration: underline;
}

/* Sidebar */
aside {
  text-align: center;
  position: fixed;
  top: 70px;
  left: 0px;
  width: 20%;
  height: 100%;
}

aside > ul {
  list-style-type: none;
  padding: 0px 10px;
  margin-top: 0px;
}

body {
  margin: 0;
}

footer {
  padding: 0 5%;
}

footer > p {
  border-top: black 1px solid;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

html {
  font-family: 'Open Sans', 'helvetica', sans-serif;
  font-size: 14px;
}

h1 {
  display: inline-block;
  margin: 0 0 0 15px;
  z-index: 1000;
  position: relative;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 1px;
}

h2 {
  font-size: 26px;
  margin-top: 0 !important;
  text-align: center;
  border-bottom: black 1px solid;
}

h3 {
  font-size: 20
}

h4 {
  margin: 1em auto;
}

nav {
  background-color: #8C1D01;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.45) 0px, rgba(0, 0, 0, 0.1) 40%, transparent 100%);
  color: #FFF;
  font-size: 1.25em;
  padding: 15px 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
}

nav a {
    text-decoration: none;
    transition: all .2s ease-in-out;
    display: inline;
    border-radius: 5px;
}

nav a:link {
    color: #FFF;
}

nav a:hover {
    text-decoration: none;
    background: black;
}

nav > h1 > a:hover {
    background: none;
}

/* Classes and ID's */
#avatar {
  display: inline;
  max-width: 90%;
  margin: 0 auto 10px;
  -moz-box-shadow: 0 0 2px 2px #190500;
  -webkit-box-shadow: 0 0 2px 2px #190500;
  box-shadow: 0 0 2px 2px #190500;
  border-radius: 50%;
}

#container {
  background-color: white;
  margin-left: 20%;
  margin-right: 5%;
  margin-top: 70px;
}

#content {
  padding: 30px 7%;
}

#content > * {
  margin: .75em auto;;
}

#content h3 {
  text-decoration: underline;
  font-size: 20px;

}

#content h4, #content p {
  padding-left: 20px;
}

#content h4 {
  font-size: 18px;
}

#content li {
  display: inline-block;
  padding: 0 10px;
  border-left: 1px solid #000;
}

#content ul li:first-child {
    border-left: none;
    padding-left: 0;
}

/* Applies to code blocks */
.highlight pre {
  font-size: 14px;
  overflow: scroll;
}

.list-bare {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  padding: 5px 15px;
}

.nav__list {
  float: right;
  margin: 0px;
  padding: 0px 50px 0px 0px;
}

.nav__list li {
  display: inline-block;
  line-height: 40px;
  padding: 0px 10px;
}

.page_listing {
  text-decoration: none !important;
  text-align: center;
}
.post_list {
  list-style-type: none;
  padding: 10px 10px;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}

.social {
  display: inline-block;
  margin-top: 40px;
}

#welcome {
  text-align: center;
}
/*--------Responsive------------*/

@media (max-width: 800px) {

  aside {
    left: 0;
    max-width: none;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    padding-top: 1px;
  }

  footer {
    padding: 1em;
    margin-left: 1em;
    margin-top: 0;
  }

  #avatar {
    height: 50px;
    width: 50px;
  }

}
